<!doctype html>
<html lang="en">

<head>
    <title>Position</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div class="row" style="margin-top: 2%;">
    <div class="col-md-2 offset-md-8">
        <a type="button" class="btn btn-success" th:href="@{'/pos/add'}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>Add
        </a>
    </div>
</div>

<div class="row" style="margin-top: 2%;">
    <div class="col-md-8 offset-md-2">
        <table class="table table-striped able-bordered" style="border: 1px solid black;">
            <thead class="thead-dark">
            <tr>
                <th style="text-align: center;" scope="col">No</th>
                <th style="text-align: center;" scope="col">Position</th>
                <th  style="text-align: center;" scope="col"></i>Description</th>
                <th  style="text-align: center;" scope="col">Location</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="p,stat1: ${positions}">
                <tr >
                    <th style="text-align: center;" th:utext="${stat1.index+1}"></th>
                    <td style="text-align: center;">
                        <a th:utext="${p.name}" data-toggle="collapse" th:href="${'#detail_'+p.id}"  aria-expanded="false" aria-controls="collapseExample"></a>
                    </td>
                    <td style="text-align: center;" th:utext="${p.description}"></td>
                    <td style="text-align: center;" th:utext="${p.location.name}"></td>
                    <td style="text-align: center;">
                        <a type="button" class="btn btn-primary" th:href="@{'/pos/edit/'+${p.id}}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>Edit
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="${'#delete_'+p.id}">
                            <i class="fa fa-trash" aria-hidden="true"></i>Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" th:id="${'delete_'+p.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <span class="text-danger">Are you sure you want to delete it?</span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <a th:href="@{'/pos/delete/'+${p.id}}" type="button" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td colspan="6" style="padding:0;">
                        <div class="collapse" th:id="${'detail_'+p.id}" style="margin: 0; padding: 0;">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped able-bordered" >
                                            <thead class="thead-light">
                                                <tr>
                                                    <th style="text-align: center;" scope="col">No</th>
                                                    <th style="text-align: center;" scope="col">Subject</th>
                                                    <th style="text-align: center;" scope="col"><i class="fa fa-eye" aria-hidden="true" style="margin-right: 1%;"></i>View</th>
                                                    <th style="text-align: center;" scope="col"><i class="fa fa-plus" aria-hidden="true" style="margin-right: 1%;"></i>Create</th>
                                                    <th  style="text-align: center;" scope="col"><i class="fa fa-pencil" aria-hidden="true" style="margin-right: 1%;"></i>Edit</th>
                                                    <th style="text-align: center;" scope="col"><i class="fa fa-trash" aria-hidden="true" style="margin-right: 1%;"></i>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="ps,stat2: ${p.positionSubjects}" >
                                                    <th style="text-align: center;">
                                                        <span th:utext="${stat2.index+1}"></span>
                                                    </th>
                                                    <td style="text-align: center;"><span th:utext="${ps.subject.name}"></span></td>
                                                    <td style="text-align: center;" >
                                                        <i class="fa fa-check text-success" aria-hidden="true" th:if="${ps.allowView}"></i>
                                                    </td>

                                                    <td style="text-align: center;">
                                                        <i class="fa fa-check text-success" aria-hidden="true" th:if="${ps.allowCreate}"></i>
                                                    </td>

                                                    <td style="text-align: center;" >
                                                        <i class="fa fa-check text-success" aria-hidden="true" th:if="${ps.allowEdit}"></i>
                                                    </td>

                                                    <td style="text-align: center;" >
                                                        <i class="fa fa-check text-success" aria-hidden="true" th:if="${ps.allowDelete}"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>